{{> head}}
<h1>{{title}}</h1>
<p><strong>Sujet :</strong> {{ticket.sujet}}</p>
<p><strong>Message :</strong> {{ticket.message}}</p>
<p><strong>État :</strong> {{ticket.etat}}</p>
<p><strong>Auteur :</strong> {{ticket.author.username}}</p>
<!-- Ajoutez d'autres détails si nécessaire -->
{{> footer}}